/*!
* Last modified: 2021/08/11 16:47:26
* Part of the WordPress plugin Tag Groups
* Plugin URI: https://chattymango.com/tag-groups/
* Author: Christoph Amthor
* License: GNU GENERAL PUBLIC LICENSE, Version 3
*/
.tg_sort_tr {
  cursor: grab;
  transition: box-shadow 0.25s;
  height: 50px;
  width: 100%;
}

.tg_sort_tr.ui-sortable-helper td {
  min-width: 100px;
}

.tg_sort_tr.ui-sortable-helper .tg_hide_when_drag {
  visibility: hidden;
}

.tg_sort_tr:hover {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.ui-sortable-helper {
  cursor: grabbing;
}

.tg_pointer {
  cursor: pointer;
}

.tg_right {
  float: right;
}

.tg_left {
  float: left;
}

.tg_text {
  cursor: text;
}

.tg_large {
  font-size: 2em;
}

.tg_up,
.tg_down {
  font-size: 30px;
}

.tg_inactive {
  opacity: 0.3;
}

.tg_update_alert {
  color: #e33;
}

.tg_groups_table {
  border-spacing: 0 2px !important;
}

.tg_groups_table > tbody > tr:nth-child(4n + 1) td {
  background-color: #f9f9f9;
}

.tg_groups_table td {
  vertical-align: middle;
}

.tg_truncate {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tg_ask_delete {
  background-color: #ff6630;
}

.tg_pager_button,
.tg_reload_button {
  height: 40px !important;
  padding: 5px 10px !important;
  line-height: 30px !important;
  float: left;
}

.tg_pager_button span,
.tg_reload_button span {
  line-height: inherit;
}

.tg_label_column {
  width: 300px;
}

.tg_new_group_row {
  height: 45px;
  background-color: #ffc;
}

#tg_pager_container {
  height: 50px;
  margin: 5px;
}

#tg_pager_container_adjuster {
  position: relative;
  overflow: hidden;
}

.tg_no_underline {
  text-decoration: none;
}

.tg_no_underline:link {
  text-decoration: none;
}

.tg_admin_accordion .ui-accordion-content {
  background-color: #fff;
}

/* 
  .ui-icon {
    text-indent: 0px !important;
  } */
.tg_faded {
  color: #999;
}

.tg_mouseover {
  color: transparent;
}

.tg_mouseover:hover {
  color: #000;
}

.tg_term_amounts {
  min-width: 50px;
  display: inline-block;
}

.SumoSelect label {
  margin: 0 !important;
  line-height: 1.1em !important;
}

.SumoSelect .select-all {
  line-height: 12px;
}

/* SumoSelect menu should not cover "Add new tag" button */
.SumoUnder {
  height: 1em !important;
}

.tg_list {
  list-style-type: disc !important;
}

.tg_list li {
  margin-left: 20px;
}

.chatty-mango-help-icon {
  margin: 0;
  cursor: pointer;
  /* float: right; */
  font-size: 20px;
}

.chatty-mango-help-container {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px 0;
  clear: both;
  display: block;
}

.chatty-mango-settings-container {
  clear: both;
}

.tg_settings_tabs_content {
  margin: 20px 10px;
}

.chatty-mango-settings-columns {
  -webkit-columns: 2 400px;
  -moz-columns: 2 400px;
  columns: 2 400px;
  margin: 10px;
}

.chatty-mango-settings-columns > div {
  display: inline-block;
  width: 100%;
}

.tg_social_media_admin {
  margin: 10px;
  text-decoration: none;
}

.tg_social_media_admin:link {
  margin: 10px;
  text-decoration: none;
}

.tg_social_media_admin span {
  font-size: 2em;
}

.tg_setting_help_search_results_inner {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
}

#tg_setting_help_search {
  margin-bottom: 10px;
  clear: both;
  float: left;
  width: 100%;
}

#tg_setting_help_search_results {
  clear: both;
}

.tg_setting_help_search_icon {
  font-size: 25px;
  margin: 0 5px;
}

#tg_setting_help_nothing_found {
  margin: 10px;
}

#tg_message_container {
  min-height: 76px;
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#tg_tools_accordion {
  margin: 20px 0;
}

.tg_tools_accordion_container {
  padding: 10px;
  /* prevent jumping */
}

.tg_tools_accordion_content {
  margin: 20px 0;
}

.tg-alert-rounded {
  background-color: #fff;
  margin: 10px 0 20px;
  padding: 5px 0;
  float: left;
  width: 100%;
  border-radius: 7px;
}

.tg-onboarding-container {
  background-color: #fefefe;
  /* box-shadow: 0 1px 2px rgba( 0,0,0,0.2 ); */
  /* background-color: #FEFEFE; */
  border-top: #ddd 2px solid;
  border-right: #ccc 3px solid;
  border-bottom: #ccc 3px solid;
  border-left: #ddd 2px solid;
  padding: 20px;
  margin: 20px 0;
  clear: both;
  display: block;
  border-radius: 7px;
  font-size: 15px !important;
}

.tg-onboarding-container p {
  font-size: 15px !important;
}

.tag-groups-wizard-submit {
  font-size: 15px !important;
}

.tag-groups-steps li {
  display: inline-block;
  padding: 0px 10px;
  margin: 0;
}

.tag-groups-steps span {
  margin-right: 10px;
}

.tag-groups-steps a {
  text-decoration: none;
}

.tag-groups-wizard-submit {
  margin: 50px 0 0 80% !important;
}

.tag-groups-wizard-example {
  margin: 10px;
  border: solid 2px #ccc;
  padding: 1px;
  border-radius: 7px;
}

.tag-groups-wizard-box {
  margin: 20px 10px;
  padding: 40px;
  background-color: #fefefe;
  border-top: #ddd 2px solid;
  border-right: #ccc 3px solid;
  border-bottom: #ccc 3px solid;
  border-left: #ddd 2px solid;
  border-radius: 7px;
  font-size: 16px;
}

.tag-groups-wizard-box p {
  font-size: 16px;
}

/* Progress bar */
#tag_groups_tasks_final_words_error,
#tag_groups_tasks_final_words_success {
  margin: 20px 0 20px;
}

#tag_groups_tasks_final_words_error span,
#tag_groups_tasks_final_words_success span {
  float: right;
  margin: 0 20px;
}

.tag_groups_task_wrapper {
  width: 100%;
  padding-top: 20px;
}

.tag_groups_process_bar_wrapper {
  width: auto;
  height: 20px;
  border: solid 1px #666;
  margin: 20px;
  border-radius: 4px;
}

.tag_groups_process_bar {
  width: 0%;
  height: 100%;
  background-color: #f7a92f;
  background-image: linear-gradient(to bottom, #f7a92f, #db941e);
  float: left;
  text-align: center;
  border-radius: 4px;
}

.tag_groups_process_result {
  width: auto;
  height: 20px;
}

.tg_premium_backend_main_box {
  background-color: #fff;
  float: left;
  max-width: 95%;
  min-width: 700px;
  margin-top: 30px;
  border-radius: 5px;
  font-size: 1.1em;
  line-height: 1.7em;
  padding: 10px;
}

.tg_premium_backend_main_box p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.tg_premium_backend_main_box h1 {
  font-size: 28px;
  font-weight: 600;
}

.tg_premium_backend_main_box img {
  max-width: 100%;
}

.tg_premium_backend_main_box .ui-tabs .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  margin-bottom: 3px;
}

/* .tg_premium_backend_banner {
  margin: 20px 0 40px;
  } */
.tg_premium_backend_logo,
.tg_onboarding_logo {
  border: solid 2px #ccc;
  padding: 1px;
  border-radius: 7px;
}

.tg_premium_backend_call_to_action {
  margin: 50px 10px 20px;
}

.tg_premium_backend_call_to_action h3 {
  color: #009cd0;
  font-size: 28px;
  line-height: 40px;
}

.tg_premium_backend_call_to_action_button {
  border-radius: 7px;
  border: 2px solid #009cd0;
  color: #009cd0;
  margin: 0 0.25em;
  overflow: hidden;
  padding: 24px 16px 24px 16px;
  position: relative;
  text-decoration: none;
  line-height: 1;
  font-size: 20px;
  float: right;
}

.tg_premium_backend_call_to_action_button:hover {
  background-color: #009cd0;
  color: #fff;
}

.tg_premium_backend_right_image_box {
  float: right;
  margin: 10px;
  text-align: center;
}

.tg_premium_backend_right_image {
  border-radius: 7px;
  width: 298px;
  height: 400px;
  clear: both;
}

.tg_premium_backend_right_image_box_caption,
.tg_premium_backend_bottom_image_box_caption {
  margin: 0 10px;
}

.tg_premium_backend_bottom_image_box {
  margin: 20px 0;
  float: left;
}

.tg_premium_backend_bottom_image {
  width: 800px;
  clear: both;
  border-radius: 7px;
}

/* development news */
.tag_groups_feed_item {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.tag_groups_feed_image {
  padding: 10px 10px 10px;
  text-align: center;
  float: left;
  width: 350px;
}

.tag_groups_feed_text {
  padding: 10px 10px 10px;
  float: left;
  width: 500px;
}

.tg_is_parent td {
  font-variant-caps: small-caps;
  font-size: 1.2em;
}

.tg_is_parent td:not(.tg_ask_delete) {
  background-color: #dfdfdf !important;
}

.tg_child_label {
  margin-left: 20px;
}

#tg_premium_presentation_tabs ul li a {
  font-size: 0.9em;
}

.tag-groups-tooltip.ui-tooltip,
.tag-groups-tooltip .arrow:after {
  background: #ea9c21;
  border: 1px solid #666;
}

.tag-groups-tooltip.ui-tooltip {
  color: black;
  border-radius: 20px;
  box-shadow: 3px 3px 7px #505050;
  font-weight: 200;
  letter-spacing: 0.1em;
  text-transform: none;
  padding: 8px;
  position: absolute;
  z-index: 100000;
  /* just above the WP admin toolbar */
  max-width: 300px;
  opacity: 1;
}

.tag-groups-tooltip .arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
  opacity: 1;
}

.tag-groups-tooltip .arrow.top {
  top: -16px;
  bottom: auto;
}

.tag-groups-tooltip .arrow.left {
  left: 20%;
}

.tag-groups-tooltip .arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  box-shadow: 6px 5px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.tag-groups-tooltip .arrow.top:after {
  bottom: -20px;
  top: auto;
}
